<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Todo App</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/todos/todo-page">Home</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto align-items-center">
                {% if user %}
                    <li class="nav-item">
                        <span class="nav-link text-info me-3">Welcome, {{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger btn-sm" href="/auth/logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login-page">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register-page">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>