



{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            Your Todo's!
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">List of your todo's!</h5>
            <p class="card-text text-center text-muted">Information regarding stuff that needs to be complete</p>

            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">Info</th>
                        <th scope="col" class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>

                {% for todo in todos %}
                <tr class="{{ 'table-success' if todo.complete else '' }}">
                    <th scope="row">{{ loop.index }}</th>
                    <td class="text-center">
                        {% if todo.complete %}
                            <del>{{ todo.title }}</del>
                        {% else %}
                            {{ todo.title }}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <a href="/todos/edit-todo/{{ todo.id }}" class="btn btn-info btn-sm">Edit</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3" class="text-center text-muted">
                        You don't have any todos yet. Click "Add a new todo!" to get started.
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="text-center mt-4">
                <a href="/todos/add-todo" class="btn btn-primary">Add a new todo!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}